        <div class="span4">
          <h3>Get a quote</h3>
          <p>Have a project that you'd like to get a quote on? <%= link_to 'Request a quote via this form', '/welcome/quote' %></p>
          <h3>Recent Projects</h3>
          <p><%= link_to 'Trulia Mobile', 'http://m.trulia.com' %></p>
          <p><%= link_to 'Boombox', 'https://audiofile.cc/boombox/' %></p>
          <p><%= link_to 'Cents Us Dollars Them', 'http://cents-us-dollars-them.herokuapp.com/' %></p>
          <h3>Recent Posts</h3>
          <p><%= link_to 'The Object Model', '/welcome/thoughts#object_model' %></p>
          <p><%= link_to 'Javascript String Instance HTML Wrapper Methods', '/welcome/thoughts#wrapper_methods' %></p>
          <p><%= link_to 'try to catch me', '/welcome/thoughts#catch_me' %></p>
          <h3>Follow us on Twitter</h3>
          <p>Find out about our projects the moment they launch by <%= link_to 'following us on Twitter', 'http://twitter.com/cgcardona' %> </p>
        </div>
