    <%= stylesheet_link_tag 'site_extras', :media => 'all' %>
    </style>
    <div class='container'>

      <div class='hero-unit'>
        <h1>We Do Design</h1>
        <p>Cardona Designs is a channel for the realization of great ideas.</p>
        <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn btn-primary btn-large' %></p>
      </div>

      <div class='row'>
        <div class='span8'>
          <h2>Web/App Design & Production</h2>
          <p>Cardona Designs is a full service design firm which offers
          end-to-end solutions for your website and application needs. We offer
          help branding, logos, wireframes, designs and running code.</p>
          <p>Our technology stack (though ever changing) is currently looking
          like the following:</p>
          <p>Don&rsquo;t worry if this is all jibberish to you. We like to be up
          front with our clients about which technologies power our solutions.
          That way you can feel extra cool next time you name drop a cutting
          edge technology at a party. ;-]</p>
          <h3>Websites/WebApps/WebService</h3>
          <p>Front End:</p>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Javascript/jQuery</li>
            <li>CoffeeScript</li>
            <li>underscore</li>
            <li>ember.js</li>
            <li>haml/handlebars</li>
            <li>SCSS/SASS</li>
          </ul>
          <p>Back End:</p>
          <ul>
            <li>Ruby on Rails</li>
            <li>PHP</li>
            <li>MySQL</li>
          </ul>
          <h3>Native Apps</h3>
          <h4>iOS</h4>
          <ul>
            <li>Cocoa Touch</li>
            <li>XCode</li>
          </ul>
          <h4>Android</h4>
          <ul>
            <li>Java</li>
            <li>Android APIs</li>
          </ul>
          <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn' %></p>
          <hr>
          <h2>E-Commerce</h2>
          <p>Wanna sell something? We can set up a fully featured online store
          which accepts credit cards and is connected with your bank account for
          fast, easy, and secure transactions.</p>
          <p>We build our e-commerce sites on top of <%= link_to 'spree ', 'http://spreecommerce.com/' %> which is a great open
          source Ruby on Rails project. Its fully customizable to fit your needs
          and look the way that you want.
          <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn' %></p>
          <hr>
          <h2>Social Media Integration</h2>
          <p>The web offers a place to connect with your tribe. We can help you
          find the right medium for your voice and story.</p>
          <p>We can help from the most basic things like setting up and
          maintaining profiles across your prefered social networks to
          integrating them into your project. We can even help craft messages
          and viral campaigns to spread your message.</p>
          <p>Our prefered services are:</p>
          <ul>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Facebook</li>
          </ul>
          <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn' %></p>
          <hr>
          <h2>Website/Application Maintenance</h2>
          <p>Did someone create you a website/app and then disappear never to be
          heard from again? Have an old project that you'd like to bring into
          the modern world? We're here to help.</p>
          <p>We can do the archeological dig on your code to find out exactly
          what the developer had in mind. We can identify and remove that pesky
          bug that's been bugging you for six months.</p>
          <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn' %></p>
          <hr>
          <h2>Quick and Inexpensive Sites</h2>
          <p>If you have a static site&mdash;meaning you have one set of content
          which won't need to be updated we can quickly build a site. The following themes are available.</p>
          <ul>
            <% @themes.each do |x| %>
              <li><%= link_to x[0], '/welcome/' + x[1] %></li>
            <% end %>
          </ul>
          <h3>Credit</h3>
          <p>We're able to offer this option because we've gathered great
          designs from across the web that are licensed appropriately. We've been able to leverage the great
          works of others and we believe in giving credit where credit is due.</p>
          <ul>
            <li><a href='http://bootswatch.com/'>BootSwatch.com</a></li>
            <li><a href='http://azmind.com/2012/12/28/free-html-template-andia-responsive-agency-portfolio-template-twitter-bootstrap/'>azmind.com</a></li>
          </ul>
          <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn' %></p>
        </div>
        <%= render 'sidebar' %>
      </div>

      <hr>
    </div> <!-- /container -->
