<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cardona Designs</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar. Include responsive CSS to utilize. -->
            <button id='navBtn' type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Cardona Designs', '/', :class => 'brand' %>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li <% if current_page?(:action => 'index') %> class="active"<% end %>><%= link_to 'Home', '/' %></li>
                <li <% if current_page?(:action => 'services') %> class="active"<% end %>><%= link_to 'Services', '/welcome/services' %></li>
                <li <% if current_page?(:action => 'portfolio') %> class="active"<% end %>><%= link_to 'Portfolio', '/welcome/portfolio' %></li>
                <li <% if current_page?(:action => 'quote') %> class="active"<% end %>><%= link_to 'Free Quote', '/welcome/quote' %></li>
                <li <% if current_page?(:action => 'thoughts') %> class="active"<% end %>><%= link_to 'Thoughts', '/welcome/thoughts' %></li>
                <!--li><a href="#contact">Contact Us</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#news">News</a></li-->
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

      <%= yield %>

      <!-- FOOTER -->
      <div class="container">
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p><a href='http://creativecommons.org/licenses/by-sa/3.0/deed.en_US'>Creative Commons</a></p>
        </footer>
      </div>

      <style>

      /* CUSTOMIZE THE NAVBAR
      -------------------------------------------------- */

      /* Special class on .container surrounding .navbar, used for positioning it into place. */
      .navbar-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin-top: 20px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
      }
      .navbar-wrapper .navbar {

      }

      /* Remove border and change up box shadow for more contrast */
      .navbar .navbar-inner {
        border: 0;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
           -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
                box-shadow: 0 2px 10px rgba(0,0,0,.25);
      }

      /* Downsize the brand/project name a bit */
      .navbar .brand {
        padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      }

      /* Navbar links: increase padding for taller navbar */
      .navbar .nav > li > a {
        padding: 15px 20px;
      }

      /* Offset the responsive button for proper vertical alignment */
      .navbar .btn-navbar {
        margin-top: 10px;
      }

      /* RESPONSIVE CSS -------------------------------------------------- */

      @media (max-width: 979px) {

        .container.navbar-wrapper {
          margin-bottom: 0;
          width: auto;
        }
        .navbar-inner {
          border-radius: 0;
          margin: -20px 0;
        }

        .carousel .item {
          height: 500px;
        }
        .carousel img {
          width: auto;
          height: 500px;
        }

        .featurette {
          height: auto;
          padding: 0;
        }
        .featurette-image.pull-left,
        .featurette-image.pull-right {
          display: block;
          float: none;
          max-width: 40%;
          margin: 0 auto 20px;
        }
      }


      @media (max-width: 767px) {

        .navbar-inner {
          margin: -20px;
        }

        .carousel {
          margin-left: -20px;
          margin-right: -20px;
        }
        .carousel .container {

        }
        .carousel .item {
          height: 300px;
        }
        .carousel img {
          height: 300px;
        }
        .carousel-caption {
          width: 65%;
          padding: 0 70px;
          margin-top: 100px;
        }
        .carousel-caption h1 {
          font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 18px;
        }

        .marketing .span4 + .span4 {
          margin-top: 40px;
        }

        .featurette-heading {
          font-size: 30px;
        }
        .featurette .lead {
          font-size: 18px;
          line-height: 1.5;
        }

      }
      </style>

    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
</html>
